################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ourOLXAPI/config/applicationhost.config
/ourOLXAPI/bin/Debug/netcoreapp3.1/Properties
.vs/ourOLXAPI/v16/.suo
*.dll
*.pdb
*.cache
.vs/OLXAPI/v16/.suo
.vs/OLXAPI/v16/.suo
.vs/OLXAPI/v16/.suo
.vs/ourOLXAPI/DesignTimeBuild/.dtbcache.v2
.vs/ourOLXAPI/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
ourOLXAPI/bin/Debug/netcoreapp3.1/ourOLXAPI.dll
ourOLXAPI/bin/Debug/netcoreapp3.1/ourOLXAPI.pdb
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.csproj.AssemblyReference.cache
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.dll
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.genruntimeconfig.cache
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.pdb
ourOLXAPI/obj/project.nuget.cache
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.pdb
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.genruntimeconfig.cache
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.dll
ourOLXAPI/obj/Debug/netcoreapp3.1/ourOLXAPI.csproj.AssemblyReference.cache
.vs/VSWorkspaceState.json
ourOLXAPI/obj/ourOLXAPI.csproj.nuget.dgspec.json
