################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ourOLXAPI/config/applicationhost.config
/ourOLXAPI/bin/Debug/netcoreapp3.1/Properties
/ourOLXAPI/obj/Release/netcoreapp3.1
